.row {
  width: 100%;
  height: 100px;
}

.col {
  height: inherit;
  border: 2px solid black;
  padding: 0;
}

#btns .col{
  border: none;
}

.col-choice {
  font-size: 10px;
  margin-left: auto;
  margin-right: auto;
  width: inherit;
  margin-top: 50%;
}

.p1 {
  background-color: blue;
}

.p2 {
  background-color: red;
}

#rematch {
  display: none;
}

#scores p{
  display: inline-block;
  text-align: center;
  margin: 0 20px;
}

#scores {
  display: none;
  color: grey;
}
#playArea {
  display: flex;
  align-items: center;
}

#board {
  display: block;
  margin: 0 10%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

}

/* #p2 {
  float: right;
} */

.active {
  font-size: 25px;
  font-weight: bold;
  text-decoration: overline underline;
}

#quit {
  padding: 20px 0;
}

#rage {
  display: block;
  padding: 20px 0;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  background-color: red;
}
